@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;

<div class="panel panel-default form-panel">
	<div class="panel-heading">
		<h3>
			<a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
		</h3>
	</div>

	<div class="panel-body">
		<div class="page-body">
			@Html.Partial("../Catalog/_ProductsGrid", Model)
		</div>
	</div>
</div>