@model NewProductsModel
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	Html.AppendScriptParts("~/Scripts/native.history.js");
	Html.AppendScriptParts("~/Themes/ChelseaBootsTheme/Scripts/Catalog/catalog.js");
	//title
	Html.AddTitleParts(T("PageTitle.NewProducts").Text);
}
@using Nop.Web.Models.Catalog;

<div class="panel panel-default form-panel">
	<div class="panel-heading">
		<div class="alignright">
			<a href="@Url.RouteUrl("NewProductsRSS")" class="pull-right header-rss" title="@T("Products.NewProducts.RSS.Hint")">
				<i class="fa fa-rss fa-2x"></i>
			</a>
		</div>
		<h3>@T("Products.NewProducts")</h3>
	</div>
	<div class="panel-body">
		<div class="page-body">
			<div id="catalog-container">
				@Html.Partial("_NewProductsPartial", Model)
			</div>
		</div>

	</div>
</div>