@model Nop.Web.Models.Common.HeaderLinksModel

@if (Model.AllowPrivateMessages)
{
	<li>
		<a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">@T("PrivateMessages.Inbox") <span class="unread-private-messages">@Model.UnreadPrivateMessages</span> </a>
	</li>
	if (!string.IsNullOrEmpty(Model.AlertMessage))
	{
		<script type="text/javascript">
			$(document).ready(function () {
				$('#notificationModal').modal('show');
			});
		</script>
	}
}