@{
	Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			@Html.Widget("home_page_top")
		</div>
	</div>
</div>
<div class="container">
	@Html.Widget("main_column_before")
	@RenderBody()
	@Html.Widget("main_column_after")
</div>
