@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;

@model ManufacturerModel

@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	Html.AppendScriptParts("~/Scripts/native.history.js");
	Html.AppendScriptParts("~/Themes/ChelseaBootsTheme/Scripts/Catalog/catalog.js");
	
	Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);

	var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
	if (canonicalUrlsEnabled)
	{
		var manufacturerUrl = Url.RouteUrl("Manufacturer", new { SeName = Model.SeName }, this.Request.Url.Scheme);
		Html.AddCanonicalUrlParts(manufacturerUrl);
	}
}

<div class="row">
	<div id="catalog-container" class="page manufacturer-page">
		@Html.Partial("_ManufacturerTemplateInnerBody", Model)
	</div>
</div>