.margin-left-5 {
	margin-left: 5px;
}

.configure-button a {
	color: #fff;
}

.login-page {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 10px;
}

	.login-page .login-existed {
		border: dotted 2px #ccc;
		border-right-width: 1px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 0 25px;
	}

	.login-page .login-new {
		border: dotted 2px #ccc;
		border-left-width: 1px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 0 25px;
	}

	.login-page .panel-body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.login-page .mid-content-title {
		background-color: #fff;
		border-bottom: solid 2px #f0f0f0;
		color: #474747;
		font-size: 1em;
		text-align: left;
		padding: 20px 0;
	}

	.login-page .mid-content-body {
		background-color: #fff;
		text-align: left;
		padding: 20px 0;
		height: 170px;
	}

		.login-page .mid-content-body a.forgot-password {
			font-size: smaller;
		}

		.login-page .mid-content-body .remember-me {
			float: right;
			padding: 10px;
			font-size: smaller;
		}

			.login-page .mid-content-body .remember-me input[type="checkbox"] {
				vertical-align: sub;
			}

			.login-page .mid-content-body .remember-me label {
				margin: 0;
				font-weight: normal;
			}

		.login-page .mid-content-body .control-label {
			color: #5f5f5f;
			font-size: 0.9em;
		}

	.login-page .mid-content-footer {
		margin-bottom: 20px;
	}

		.login-page .mid-content-footer .login-button {
			float: right;
		}

		.login-page .mid-content-footer .register-button {
			float: left;
		}

.notifications {
	top: 0px !important;
}

	.notifications.success {
		background: #0d9c66 !important;
	}

.order-summary-content .alert {
	padding: 10px !important;
	margin-bottom: 0;
}

	.order-summary-content .alert .attribute-item {
		padding-top: 5px;
	}

.masthead .navbar-inverse {
	background-color: #fff;
}

.nav > li > div > a {
	text-decoration: none !important;
}

.header-home .user-tools .top-menu-item-wrapper {
	line-height: 20px;
	padding: 15px;
	width: 110%;
}

.header-home .user-tools li {
	display: block;
}

	.header-home .user-tools li > a:hover {
		background: none !important;
		color: #4d4d4d;
	}

ul.nav.navbar-nav.navbar-right li > a:hover {
	/background-color: #fff;
	color: #c68c53 !important;
}

.open > .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #333 !important;
	border-color: #FFDEC1 !important;
}

.btn.btn-default {
	color: #fff;
	background-color: #555;
	border: 0;
	font-size: inherit;
}

	.btn.btn-default.active,
	.btn.btn-default:hover,
	.btn.btn-default:active,
	.btn.btn-default:focus {
		color: #fff;
		background-color: #1a1a1a;
		border-color: #FFDEC1;
	}

.btn-group.btn-group-attr {
	width: 100%;
}

	.btn-group.btn-group-attr .btn.btn-attr:first-child {
		width: 97px;
	}

	.btn-group.btn-group-attr .btn.btn-attr.dropdown-toggle {
		/*width: 20%;*/
	}

.btn.btn-attr {
}

.btn.btn-primary {
	color: #fff;
	background-color: #c68c53;
	border: 0;
}

	.btn.btn-primary:hover,
	.btn.btn-primary:active,
	.btn.btn-primary:focus {
		background-color: #db9856;
		z-index: 30000;
	}

.panel.panel-default {
	border: 1px dotted #d9d9d9;
}

.mid-content-title {
	padding: 8px 12px;
	background-color: #f0f0f0;
	color: #000;
	border-bottom: 2px solid #fff;
	margin: 0;
}

.registration-page {
	padding: 0 40px;
}

select.form-control.date-select {
	float: left;
	width: 100px;
}

.navbar-fixed-top.top-menu {
	border-top: 5px solid #fff;
	color: #fff;
}

.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
}

	.navbar-inverse .navbar-brand:hover {
		color: #fff;
		background-color: transparent;
	}

	.navbar-inverse .navbar-brand:focus {
		color: #fff;
		background-color: transparent;
	}

.masthead .navbar-inverse .navbar-nav > li > a {
	border-right: 1px solid #fff;
	color: #fff;
}

.top-menu ul.dropdown-menu > li > a {
	background-color: #fff;
	color: #FFF;
}

	.top-menu ul.dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #000000;
	}

.top-menu.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	background-color: #fff;
	color: #fff;
}

.masthead .navbar-inverse .navbar-nav > li > a:hover {
	background-color: #000000;
}



.category-menu {
	background-color: #fff;
	font-family: "Rubik",sans-serif;
	text-transform: lowercase;
	font-size: 1.5em;
	text-align: center;
}

	.category-menu ul.nav {
		margin: 0 auto;
		width: 90%;
	}

	.category-menu .nav > li:first-child {
		padding: 0;
	}

	.category-menu .nav > li {
		padding-top: 3px;
	}

		.category-menu .nav > li > a {
			color: #4d4d4d !important;
			outline: none;
		}

			.category-menu .nav > li > a:hover,
			.category-menu .nav > li > a.active,
			.nav > li > a:focus,
			.nav > li > a:active {
				background-color: #fff !important;
				color: #c68c53 !important;
				text-decoration: none;
			}

.masthead .dropdown-menu {
	border: 1px dotted #ccc !important;
	border-top: none !important;
}

.page .dropdown-menu > li > a i,
.page .nav > li > a i {
	display: none;
}

.page .dropdown-menu > li.selected-value > a i,
.page .dropdown-menu > li > a.active i,
.page .nav > li.active > a i {
	display: inline-block;
}

.dropdown-menu > li > a {
	background-color: #fff;
	color: #4d4d4d !important;
	text-decoration: none;
	border: 1px dotted #ccc !important;
	border-top: none !important;
}

	.dropdown-menu > li > a.disabled {
		box-shadow: none;
		cursor: not-allowed;
		opacity: 0.65;
	}

	.masthead .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #f0f0f0;
		color: #c68c53 !important;
		text-decoration: none;
	}

.top-menu ul.dropdown-menu > li > a {
	color: #4d4d4d;
}

.navbar-fixed-top.top-menu li > a:hover {
	background-color: #fff;
	color: #FFF;
}

.navbar-fixed-top.top-menu li > a:active {
	background-color: #fff;
	color: #FFF;
}

.navbar-fixed-top.top-menu li > a:focus {
	background-color: #fff;
	color: #c68c53 !important;
}

.ul.nav.navbar-nav.navbar-right li:hover {
	background-color: #fff;
}

h3 {
	color: #fff;
}

.first-footer h3 {
	color: #fff;
}

.offer-default {
	padding: 10px 0 !important;
	margin-bottom: 5px;
}

.footer {
	background-color: #323840;
}

	.footer .copyrights {
		background-color: #282D33;
		border-top: 1px #282D33 solid;
		padding-top: 14px;
		padding-bottom: 14px;
	}

.breadcrumb {
	margin-top: -10px;
	margin-bottom: 10px !important;
}

	.breadcrumb ul {
		width: 100%;
	}

		.breadcrumb ul li {
			display: inline-block;
		}

.product-selectors.clearfix > div.col-md-4 {
	background-color: #F0F0F0;
	color: #000;
	padding: 8px;
	border-radius: 0;
	border: none;
}

.title-carousel-control:hover {
	background-color: #fff;
	padding: 10px;
	color: #FFF;
	border-radius: 0px;
	text-decoration: none;
}

.tags a {
	color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
}

h2.title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}
/*custom title*/
.heading {
	font: 33px sans-serif;
	margin-top: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
	background: #fff;
	padding: 0 15px;
	color: #fff;
}

	.heading:before {
		border-top: 2px solid #f5f5f5;
		content: "";
		margin: 0 auto; /* this centers the line to the full width specified */
		position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
		top: 15px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 95%;
		z-index: -1;
	}

.spn { /* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
}

/*Flyout cart*/
#flyout-cart {
	color: #000;
	max-height: 330px !important;
}

	#flyout-cart a:hover {
		color: #c68c53 !important;
	}

	#flyout-cart .mini-shopping-cart a.remove-from-cart {
		position: absolute;
		font-size: 15px;
		top: 0;
		right: 15px;
		color: #ff1c01;
	}

	#flyout-cart .mini-shopping-cart .item {
		border-bottom: dotted 1px #d9d9d9;
		min-height: 114px;
	}

		#flyout-cart .mini-shopping-cart .item .picture {
			margin-top: 7px;
		}

		#flyout-cart .mini-shopping-cart .item .product {
		}

			#flyout-cart .mini-shopping-cart .item .product > div {
				padding-bottom: 5px;
			}

			#flyout-cart .mini-shopping-cart .item .product .name {
				min-height: 42px;
				font-size: 14px;
				padding-top: 2px;
				width: 90%;
			}

			#flyout-cart .mini-shopping-cart .item .product .size {
				text-align: right;
				font-size: 12px;
			}

			#flyout-cart .mini-shopping-cart .item .product .quantity {
				text-align: right;
				font-size: 12px;
			}

			#flyout-cart .mini-shopping-cart .item .product .price {
				position: absolute;
				top: 85px;
				right: 15px;
				font-size: 12px;
			}

				#flyout-cart .mini-shopping-cart .item .product .price a {
					text-align: left;
				}

				#flyout-cart .mini-shopping-cart .item .product .price span,
				#flyout-cart .mini-shopping-cart .item .product .quantity span,
				#flyout-cart .mini-shopping-cart .item .product .size span {
					font-weight: bold;
				}

	#flyout-cart .mini-shopping-cart .totals {
		text-align: right;
		padding-top: 10px;
	}

	#flyout-cart .flyout-cart-footer {
		border-top: 1px dotted #d9d9d9;
		text-align: center;
		margin: 10px -15px;
		padding-top: 10px;
	}

		#flyout-cart .flyout-cart-footer a i {
			font-size: larger;
			padding-right: 10px;
		}

.order-summary-content .buttons {
	float: right;
}

	.order-summary-content .buttons button,
	.order-summary-content .buttons a {
		margin-left: 20px;
	}

.order-summary-content .table {
}

	.order-summary-content .table .media .thumbnail {
		margin-bottom: 0 !important;
	}

	.order-summary-content .table .media-body p {
		margin-top: 10px;
	}

	.order-summary-content .table .media-body span {
		font-size: 13px;
	}

	.order-summary-content .table .media-body strong {
		font-size: 15px;
	}

	.order-summary-content .table td.valign-center {
		vertical-align: middle;
	}

.navbar-right .dropdown li a {
	color: #000;
}

.pad-left {
	padding-left: 30px;
}

.pad-right {
	padding-right: 20px;
}

.pad-bottom {
	padding-bottom: 15px;
}

.gray-block {
	height: auto;
	background-color: #F5F5F5;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 15px;
}

blockquote {
	font-size: 15px;
	font-style: italic;
	width: auto;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

	blockquote:before {
		display: block;
		content: "\201C";
		font-size: 80px;
		position: absolute;
		left: -20px;
		top: -20px;
		color: #7a7a7a;
	}

.border-right {
	border-right: 2px dotted #dddddd;
}

.button-bottom {
	padding-top: 60px;
	position: relative;
	padding-bottom: 80px;
	padding-right: 70px;
}

.centre {
	width: 284px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	margin-bottom: 25px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	padding-top: 15px;
}

.padding-top {
	margin-top: 15px;
}

.img-middle {
	padding-left: 80px;
}

.pad-image-title {
	padding-left: 50px;
}

.gray-background {
	background-color: #EBEBEB;
	height: auto;
	min-width: 100%;
}

.text-group {
	font: 21/32px 'Open Sans', sans-serif;
}
/* Custom container */
.container-full {
	margin: 0 auto;
	width: 100%;
	min-width: 100%;
}
/*------------------------------------*\
   Theme Color Picker style start
\*------------------------------------*/
.theme-color-picker {
	position: fixed;
	top: 200px;
	right: 0px;
	z-index: 9;
}

.configure-button {
	background-color: #696763;
	color: #ffffff;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0px;
	padding: 11px 14px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

	.configure-button a:hover {
		color: #ffffff;
	}

.options-choosing-palette {
	padding: 10px 0px 10px 17px;
}

.color-options {
	height: 120px;
	width: 200px;
	border: 1px solid #696763;
	right: -200px;
	position: absolute;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	background: #ffffff;
}

	.color-options h3 {
		padding: 0px 30px;
	}

	.color-options ul {
		padding: 0px;
		margin: 0px;
		margin-top: 10px;
	}

		.color-options ul li {
			padding: 5px 0px;
			margin: 0px;
			display: inline;
			margin-right: 10px;
		}
/*------------------------------------*\
   Theme Color Picker style End
\*------------------------------------*/
/*badge number css start*/
.op-number {
	background-color: #01619d;
	border: 1px #01619d;
}
/*badge number css end*/
.rec-banner.active_position {
	background-color: #2B2B2B;
	color: #FFF;
}

	.rec-banner.active_position:hover, .rec-banner.deactive_position:hover {
		background-color: #000000;
		color: #FFF;
	}

.rec-banner.deactive_position a:hover, .rec-banner.deactive_position a:active {
	text-decoration: none;
	color: #000000;
}

.forums-table-section .forums-table-section-body thead {
	background-color: #2B2B2B;
	color: #ffffff;
}

.masthead .navbar-inverse .navbar-nav > .open > a, .masthead .navbar-inverse .navbar-nav > .open > a:hover, .masthead .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #2B2B2B;
}

.filter-title {
	margin-left: 10px;
}

.material-switch > input[type="checkbox"] {
	display: none;
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 30px;
}

	.material-switch > label::before {
		background: rgb(0, 0, 0);
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		content: '';
		height: 12px;
		width: 30px;
		margin-top: -6px;
		position: absolute;
		opacity: 0.1;
		transition: all 0.4s ease-in-out;
	}

	.material-switch > label::after {
		background: #fff;
		border-radius: 16px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
		content: '';
		height: 20px;
		width: 20px;
		left: -4px;
		margin-top: -6px;
		position: absolute;
		top: -4px;
		transition: all 0.3s ease-in-out;
	}

.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
	background-color: #1a1a1a;
	left: 16px;
}

.list-group-item {
	border: 0 !important;
	font-size: inherit;
}

#ph-topic .panel-body i {
	font-size: larger;
	padding: 10px;
}

#ph-topic .form-contactus {
	margin: 10px;
}

#map {
	height: 255px;
	width: 500px;
}

#filter-spec .list-group {
	margin: 0;
}

.form-contactus .field-validation-error {
	margin-top: 7px;
	margin-left: 5px;
	font-size: smaller;
	color: red;
}

#products-container {
	margin-top: 10px;
}

.product-item .price {
	margin-top: 5px;
	/*display: block;*/
	font-weight: bold;
	line-height: 25px;
}

/*Grid-view*/
.product-grid i.cart-i {
	font-size: larger;
}

.product-grid .product-item {
	/*border: solid 1px red;*/
	margin: 0;
	padding: 5px;
}

	.product-grid .product-item .thumbnail .caption .product-short-description {
		display: none;
	}

	.product-grid .product-item p,
	.product-grid ul.product-spec-list {
		font-size: 0.8em;
		color: #474747;
	}

	.product-grid .product-item h5 {
		font-size: 1.3em;
		font-weight: bold;
		color: #000000;
		height: 31px;
	}

.product-grid ul.product-spec-list {
	margin: 15px 0;
	padding: 0;
}

.product-grid .product-item table {
	width: 100%;
	margin-bottom: 10px;
}

	.product-grid .product-item table td {
		border: 1px dotted #ecd9c6;
		padding: 5px;
		color: #777;
	}


.product-item .thumbnail a {
	font-family: "Open Sans", Arial;
}

/*List view*/
.product-list .product-item {
	/*border: solid 1px red;*/
	margin: 2px;
}

	.product-list .product-item .thumbnail {
		float: left;
		margin: 0;
		width: 100%;
	}

		.product-list .product-item .thumbnail a {
			float: left;
		}

		.product-list .product-item .thumbnail .caption {
			float: left;
			padding: 0 20px;
		}

			.product-list .product-item .thumbnail .caption .product-short-description {
				float: left;
				height: 162px;
				width: 100%;
			}

	.product-list .product-item p,
	.product-list ul.product-spec-list {
		font-size: 0.8em;
		color: #474747;
	}

	.product-list .product-item h5 {
		font-size: 1em;
		font-weight: bold;
		color: #000000;
		min-height: 31px;
	}

.product-list ul.product-spec-list {
	margin: 15px 0;
	padding: 0;
}

#products-container .box-products {
	padding: 0 10px !important;
}

.pager ul {
	padding-left: 0;
}

.pager {
	margin: 0 !important;
}

	.pager li {
		float: left;
	}

		.pager li a,
		.pager li span {
			background-color: #555 !important;
			border: none !important;
			border-left: solid 1px #1a1a1a !important;
			color: #fff !important;
			outline: none;
		}

			.pager li a:hover,
			.pager li span:hover,
			.pager li.current-page span {
				background-color: #1a1a1a !important;
			}

		.pager li.previous-page a {
			border-radius: 4px;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		.pager li.next-page a {
			border-radius: 4px;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

.panel-default.form-panel .catalog-home {
	display: none;
}

.custom-home-page {
	padding: 0 !important;
}


	.custom-home-page .widget {
		width: 100%;
		background: #ccc;
		height: 400px;
	}

		.custom-home-page .widget .theme-custom .nivo-controlNav a.active {
			background: #c68c53;
		}

.product-details-page .gallery {
	margin-top: 0 !important;
}

.product-essential .gallery-wrapper {
	/*padding-left: 0 !important;*/
}



.product-essential .overview .product-name {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 2.2em;
}

.manufacturer-page .panel-default.form-panel > .panel-heading {
	font-size: 2em;
	background-color: #FFF !important;
}

.product-essential .overview .manufacturers {
	padding-top: 10px;
}

	.product-essential .overview .manufacturers .value a {
		font-weight: bold;
		font-size: 1.2em;
		color: #000;
	}



.product-essential .overview .prices {
	margin: 0 !important;
	margin-left: 15px;
	padding: 10px;
}

	.product-essential .overview .prices .product-price span {
		color: #000;
		font-size: 1.4em;
	}

.product-essential .overview .manufacturers .product-details-label {
	padding-top: 10px;
}

.product-essential .overview .price-and-buttons {
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	overflow: auto;
}

.product-essential .overview .product-specs-box {
	padding: 0;
	margin-top: 5px;
}

	.product-essential .overview .product-specs-box .title {
		font-size: 1.1em;
		padding-bottom: 10px;
	}

	.product-essential .overview .product-specs-box ul.product-spec-list {
		padding-left: 15px;
	}

.product-essential .overview .product-item-row {
	border-top: 1px dotted #d9d9d9;
	margin: 0 !important;
}

	.product-essential .overview .product-item-row .add-to-wishlist-button {
		font-size: 1.4em;
		padding-top: 12px;
	}

	.product-essential .overview .product-item-row .full-description {
		border: 0;
		padding: 0;
		margin-top: 10px;
	}

		.product-essential .overview .product-item-row .full-description ul {
			padding: 0;
		}

			.product-essential .overview .product-item-row .full-description ul li,
			.product-essential .overview .product-specs-box ul.product-spec-list li {
				list-style: disc;
				font-size: 13px;
				color: #474747;
				padding-bottom: 7px;
			}

	.product-essential .overview .product-item-row .attributes > .row {
		margin: 5px 0;
	}

	.product-essential .overview .product-item-row .add-to-cart {
		margin-top: 5px;
	}
/*	.product-essential .overview .price-and-buttons .call-to-action-buttons {
		float: left;
		width: 60%;
	}

.product-essential .overview .add-to-cart-buttons .add-to-cart .col-md-3 {
	padding: 0 !important;
}

.product-essential .call-to-action-buttons .add-to-cart {
	font-size: 16px;
	width: 50% !important;
}

.product-essential .call-to-action-buttons .add-to-fav {
	width: 50%;
	margin: 5px 7px;
}*/

.add-to-wishlist-button {
	float: left;
	margin-top: 2px !important;
	margin-right: 10px;
}

.add-to-cart-button {
	padding: 6px 12px;
	background: #53c68c;
}

	.add-to-cart-button:hover {
		background: #53c6c6;
	}




.product-item .add-to-fav-btn {
	text-align: right;
}

.product-list .product-item .thumbnail-wrapper .thumbnail .image {
	float: left;
	width: 35%;
}

.product-list .product-item .thumbnail-wrapper .thumbnail .caption {
	float: left;
	width: 65%;
}

	.product-list .product-item .thumbnail-wrapper .thumbnail .caption h5 {
		font-size: 2em;
	}

	.product-list .product-item .thumbnail-wrapper .thumbnail .caption .product-spec-list {
		font-size: 1em;
	}

	.product-list .product-item .thumbnail-wrapper .thumbnail .caption .price {
		font-size: 1.6em !important;
		margin: 0;
	}

.product-list .product-item .thumbnail .caption .product-short-description {
	height: 100%;
}

.share-info {
	margin: 10px;
}

.share-icon {
	background-image: url("../images/share.svg"), none;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.brands {
	width: 100%;
	margin: 15px 0 30px 0;
}

	.brands div {
		width: 33.33%;
		float: left;
		padding: 10px;
	}

		.brands div img {
			width: 100%;
		}

.newsletter {
	overflow: auto;
}

#newsletter-email {
	padding: 5px;
	/border-radius: 5px;
	outline: none;
	border: 0;
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 10px;
}

	#newsletter-email:focus {
		color: #1a1a1a;
	}

#newsletter-subscribe-button {
	color: #fff;
	background-color: #c68c53;
	border: 0;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 1.2em;
	float: right;
}

.header-home {
	padding: 20px 0 0 0;
}

	.header-home .header-logo {
		margin-bottom: 10px;
	}

		.header-home .header-logo a {
			text-decoration: none;
		}

		.header-home .header-logo .logo-title {
			color: #333333;
			font-family: "Pattaya",sans-serif;
			font-size: 4em;
			text-align: left;
			padding-top: 10px;
		}

	.header-home a.logo {
		background: url("images/logo.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		height: 60px;
		text-decoration: none;
		width: 310px;
	}

.homepage {
	padding: 0;
}

.header-home .user-tools {
	/background:#ff1c01;
	padding: 20px 0;
	font-size: 18px;
}

.collapse.navbar-collapse.category-navbar-collapse {
	font-size: 18px;
}

.header-home .user-tools .dropdown-menu {
	min-width: 380px !important;
	left: -380px !important;
	top: 50px !important;
}

.header-home .user-tools .dropdown.login .dropdown-menu {
	min-width: 200px !important;
	left: -200px !important;
	top: 50px !important;
}

.header-home .user-tools .dropdown-menu.language-select {
	min-width: 50px !important;
	left: 0 !important;
	top: 50px !important;
}
