@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
	@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default form-panel">
				<div class="panel-heading">
					<h3>@T("ShoppingCart")</h3>
				</div>
				<div class="panel-body">
					@Html.Partial("OrderSummary", Model)
				</div>
			</div>
		</div>
	</div>
</div>
