@model Nop.Web.Models.ShoppingCart.WishlistModel
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			@Html.Partial("../Catalog/_ProductsGrid", Model.Items.Select(item => item.ProductOverview).ToList())

			@if (Model.IsEditable && Model.Items.Count > 0)
			{
				<div class="share-info">
					<p>
						<span class="share-label">@T("Wishlist.YourWishlistURL"):</span>
					</p>
					<p>
						<a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="share-link">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
					</p>
				</div>
			}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () { wishlist.removeFromDom(true); });
</script>